.grocery-card {
    height: 150px;
    width: 400px;
    text-align: center;
    border: 0.1px solid rgb(210, 207, 207);
    box-shadow: 2px 2px 2px rgb(174, 174, 174);
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 35%;
}

.add-btn {
    background-color: rgb(144, 228, 247);
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 5px;
}

.items-card {
    height: 400px;
    width: 400px;
    text-align: center;
    border: 0.1px solid rgb(210, 207, 207);
    box-shadow: 2px 2px 2px rgb(174, 174, 174);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 35%;
}

.item-name {
    text-align: left;
    list-style: none;
    text-decoration: none;
}

.item-striked {
    text-decoration: line-through;
}